{% extends "bootstrap/base.html" %}
{% block title %}Slam Book{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        window.setTimeout(function(){

       window.location.href = "{{ url_for('index') }}";

       }, 1000);
    </script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <div class = "container-fluid">
    <br>
    <br>
    <br>
   <div class = "text-center">
      <h1 style = "color:#1d4e89;font-size:90px">Thank You</h1>
    </div>
  </div>
      
    </div>
  </div>
  
{% endblock %}